body {
  background-color: #fafdfc;
  font-family: sans-serif;
}

h1 {
  color: #5a74a2;
  text-align: center;
}

h2 {
  color: #bf7935;
}

footer {
  color: #fff;
  background-color: #2b4569;
  text-align: center;
}
